.width-50 {
    width: 50% !important
}

.no-padding {
    padding: 0px !important
}

.sqaure {
    color: white;
    border: 1px solid #372121;
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 30%;
    float: left;
    margin: 20px 20px 0 0;
    height: 100%;
    box-sizing: border-box;
    height: 180px;
    border-radius: 3px;
    background-color: #333;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    -webkit-tap-highlight-color: transparent; 
}
.sqaure h2 {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 20px;
    z-index: 3; 
}

.sqaure h2 span {
    font-size: 14px;
    display: block; 
}
  
.square-overlay {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    line-height: 25px;
    word-wrap: break-word;
    background-color: transparent;
    background-image: -webkit-linear-gradient(rgba(15, 20, 31, 0) 0, rgba(15, 20, 31, 0.1) 25%, rgba(15, 20, 31, 0.8) 100%);
    background-image: linear-gradient(rgba(15, 20, 31, 0) 0, rgba(15, 20, 31, 0.1) 25%, rgba(15, 20, 31, 0.8) 100%);
}